@use "@/scss/variables" as var;

.institution-map {
    width: 500px;
    background-color: var.$color-neutro-300;
    padding: var.$spacing-sm;
    margin: var.$spacing-xl;
    border-radius: var.$spacing-md 0 var.$spacing-md 0;

}