@use "@/scss/variables" as var;

.products-slider {
    position: relative;
    height: 35vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow-x: hidden;
    margin: 0;


    &__slides {
        display: flex;
        height: 100%;
        width: 300%;
        animation: move-slide 15s ease-in-out infinite;
    }



    @keyframes move-slide {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(calc((100% / 3) * -1));
        }

        45% {
            transform: translateX(calc((100% / 3) * -1));
        }

        50% {
            transform: translateX(calc((100% / 3) * -2));
        }

        70% {
            transform: translateX(calc((100% / 3) * -2));
        }

        75% {
            transform: translateX(calc((100% / 3) * -1));
        }

        95% {
            transform: translateX(calc((100% / 3) * -1));
        }

        100% {
            transform: translateX(0);
        }
    }
}