@use "@/scss/variables" as var;

.navbar-list-item {


    font-weight: var.$font-weight-bold;
    color: var.$color-neutro-900;
    font-size: var.$font-size-md;
    padding: var.$spacing-sm var.$spacing-md;


    &:hover,
    &--active {
        font-weight: var.$font-weight-bold;
        border-bottom: 2px solid var.$color-primary-700;
        color: var.$color-primary-500;
    }


    &__link {
        display: flex;
        align-items: center;
        gap: var.$spacing-xs;
        padding: var.$spacing-xs;
    }

    &__icon {
        display: none !important;
        color: var.$color-primary-600;
    }

    &__label {
        color: var.$color-primary-800;
        font-size: var.$font-size-md;
        font-weight: inherit;
    }

    &:hover,
    &--active {
        font-weight: var.$font-weight-bold;
    }

    @media screen and (max-width: 768px) {
        &__icon {
            display: block !important;
        }
    }
}