// Logo title typography
@font-face {
    font-family: 'LobsterRegular';
    src: url("../assets/fonts/lobster-regular.ttf") format("truetype");
}

// About us - title and description typography
@font-face {
    font-family: 'RobotoMono';
    src: url("../assets/fonts/roboto-mono.ttf") format("truetype");
}